/************************************************************
IMAGE
************************************************************/
/******************************
Images
******************************/
img {
  max-width: 100%; 
}

/******************************
Background Images
******************************/
.bg-image {
  background-position: center center;
  background-size: cover;
}
